<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>게시판</title>
    <style>
        .nav {
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
        }
    </style>
    <script>
        function logout() {
            $.ajax({
                url: '/logout',
                type: 'POST',
                success: function (response) {
                    alert('로그아웃 되었습니다.');
                    window.location.href = '/';
                },
                error: function (xhr, status, error) {
                    alert('로그아웃 실패: ' + xhr.responseText);
                }
            });
        }
    </script>
</head>

<body>
<div class="nav" th:fragment="navbar">
    <p>강성현의 코딩교실</p>
    <div th:if="${session.username}">
        <p id="nav-username" th:text="${session.username}">Username</p>
        <button onclick="logout()">LOGOUT</button>
    </div>
</div>
</body>